<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
  <appSettings>
    <add key="ApiKey" value="4F058B962F98EBC48684369E1825268A" />
    <add key="ApiSecret" value="8496DBDFF8AEA7D6B8748C2A33FB9258" />
  </appSettings>
</configuration>
